h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form_description {
  margin: 20px;
}

.form_text{
  margin: 20px;
}

.form_color{
  margin: 20px;
}

.form_price{
  margin: 20px;
}

.form_photo{
  margin: 20px;
}


.form-control {
  width: 100%;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 20px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.btn-new {
  background-color: #E67E22;
  margin: 30px;
}
