<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>



<div class="banner py-4 my-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path('roues.jpg') %>'); background-repeat: no-repeat; height: 500px; background-size: cover;
  background-position: center; color: white">
  <div class="container">
    <h1>We provide <strong>professional bikes</strong> to <strong>athletes</strong> !</h1>
    <div class="py-2">
      <p>Change your life and pick one of our bikes.</p>
      <%= link_to "Discover our bikes here", bikes_path , class: "btn btn-warning" %>
    </div>
    <div class="py-4">
      <p>Gain a lot of money and rent one of your bikes.</p>
      <%= link_to "Rent your bike here", new_bike_path , class: "btn btn-warning" %>
    </div>
  </div>
</div>
