<h1>Navbar</h1>

<h1 class="text-center">Our rental bikes </h1>


<div class="bike_index_container">
  <% @bikes.each do |bike|%>
        <div class="bike_index_texte">
         <%=link_to bike.name, bike_path(bike)%>
          <img class="bike_index_img"src="<%= bike.image%>">
        </div>
  <% end %>
</div>
<p> <%= link_to "Add a new bikes", new_bike_path %> </p>
