<h1>Navbar</h1>

<h1 class="text-center">Our rental bikes </h1>

<ul>
<% @bikes.each do |bike|%>
<li> <%=link_to bike.name, bike_path(bike)%></li>
<% end %>

<p> <%= link_to "Add a new bikes", new_bike_path %> </p>
